/* https://cdn.sstatic.net/Img/unified/sprites.svg?v=fcc0ea44ba27 */

.iconContainer {
  background-size: 189px 530px;
  background-image: url('https://cdn.sstatic.net/Img/unified/sprites.svg?v=fcc0ea44ba27');
  background-repeat: no-repeat;
}
