/* 100vh는 요소들에만 높이를 고정적으로 줘야한다. */

.container {
  background-color: #f1f2f3;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px 0;
}
