.container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
}

.container ol {
  display: flex;
}

nav {
  border-top: 3px solid hsl(27, 90%, 55%);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
}

.hamberger {
  display: flex;
  width: 48px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamberger_off {
  display: flex;
  width: 48px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamberger_off span {
  position: relative;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
}

.hamberger_off span::before {
  position: absolute;
  content: '';
  left: 0;
  top: -5px;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
  transition: top, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.hamberger_off span::after {
  position: absolute;
  content: '';
  left: 0;
  top: 5px;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
  transition: top, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.hamberger_on {
  display: flex;
  width: 48px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamberger_on span {
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 2px;
}

.hamberger_on span::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0px;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
  transition: top, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transform: rotate(-45deg);
}
.hamberger_on span::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
  transition: top, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transform: rotate(45deg);
}

button {
  width: 60px;
  height: 33px;
}

ol {
  width: 228px;
  height: 37px;
}

li {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #525960;
  padding: 6px 12px;
}

input {
  width: 681px;
  height: 32px;
}
