.container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  border-top: 3px solid hsl(27, 90%, 55%);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  top: 0;
  background-color: #fdfdfd;
  position: sticky;
  z-index: 1;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.logo:hover {
  background: hsl(210, 8%, 90%);
  height: 100%;
}

.hamberger {
  display: flex;
  width: 48px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamberger_off {
  display: flex;
  width: 48px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamberger_off span {
  position: relative;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
}

.hamberger_off span::before {
  position: absolute;
  content: '';
  left: 0;
  top: -5px;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
  transition: top, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.hamberger_off span::after {
  position: absolute;
  content: '';
  left: 0;
  top: 5px;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
  transition: top, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.hamberger_on {
  display: flex;
  width: 48px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamberger_on span {
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 2px;
}

.hamberger_on span::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0px;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
  transition: top, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transform: rotate(-45deg);
}
.hamberger_on span::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 16px;
  height: 2px;
  background-color: hsl(210deg 8% 35%);
  transition: top, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transform: rotate(45deg);
}

.liWrap {
  display: flex;
  width: 228px;
  height: 37px;
  justify-content: center;
}

.liWrap li {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #525960;
  padding: 6px 12px;
  flex-shrink: 0;
}

/*
.navInput {
  position: relative;
}

.navInput input {
  padding-left: 30px;
  border: 1px solid hsl(210, 8%, 75%);
  border-radius: 3px;
}

.navInput svg {
  position: absolute;
  left: 8px;
  top: 6.5px;
  right: auto;
}

.navInput button {
  width: 60px;
  height: 33px;
}

.navInput input {
  width: 681px;
  height: 32px;
}

*/

.navInput {
  width: 681px;
  height: 32px;
}

.svgIcon {
  display: none;
}

nav button {
  width: 55px;
  height: 33px;
  padding: 8px 10, 4px;
  border-radius: 3px;
  outline: none;
  border: 1px solid transparent;
  font-family: inherit;
  text-align: center;
}

button {
  cursor: pointer;
}

.loginBtn {
  color: hsl(205, 47%, 42%);
  background-color: hsl(205, 46%, 92%);
  border-color: hsl(205, 41%, 63%);
  box-shadow: inset 0 1px 0 0 hsl(0deg, 0%, 100% / 70%);
}

.signBtn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(200, 100%, 52%);
  border-color: hsl(205, 41%, 63%);
  box-shadow: inset 0 1px 0 0 hsl(0deg, 0%, 100% / 70%);
}

.loginBtn:hover {
  background-color: hsl(206, 100%, 97%);
}

.signBtn:hover {
  background-color: hsl(200, 100%, 40%);
}

.avatar {
  width: 33px;
  height: 33px;
}

@media all and (max-width: 980px) {
  .liWrap {
    width: 60px;
  }
  .liWrap li:nth-child(1) {
    display: none;
  }
  .liWrap li:nth-child(3) {
    display: none;
  }
}

@media all and (max-width: 640px) {
  .logo {
    display: none;
  }
  .svgIcon {
    display: block;
  }
}
