.container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 48px;
  background-color: #f1f2f3;
}

.textContent {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  gap: 24px 0;
  font-size: 16px;
}

.textContent div {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.textContent h1 {
  font-size: 27px;
}

.textFooter {
  font-size: 13px;
}

.textFooter em {
  color: #0074cc;
}

.btnContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px 0;
}

.btnContent h1 {
  display: none;
  font-size: 21px;
  text-align: center;
}

@media all and (max-width: 768px) {
  .textContent {
    display: none;
    font-family: inherit;
  }
  .container header svg {
    display: none;
  }
  .btnContent h1 {
    display: block;
  }
}

/* p 24px f 21px */
