.container {
  display: flex;
  gap: 0 16px;
  border-bottom: 1px solid hsl(210, 8%, 90%);
  padding: 32 16 16 16px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.content h2 {
  color: hsl(206, 100%, 52%);
  word-break: break-word;
  hyphens: auto;
  font-size: 17px;
}

.content p {
  color: hsl(210, 8%, 25%);
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.content div {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0 4px;
}
.content div img {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

.userId {
  font-size: 12px;
  color: #0074cc;
}
.timeAgo {
  font-size: 12px;
  color: #6a737c;
}

.stats {
  width: 92px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 4px 16px;
}

.stats div {
  color: #6a737c;
  font-size: 13px;
}

@media all and (max-width: 980px) {
  .container {
    flex-direction: column;
    gap: 4px 0;
  }
  .stats {
    width: 100%;
    flex-direction: row;
    gap: 0 8px;
  }
}
