.container {
  display: flex;
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 24px 24px;
}

.editor {
  min-width: 800px;
  width: calc(100% - 120px);
}

.content {
  max-width: 1100px;
  width: calc(100% - 164px);
  padding-top: 10px;
}

.UrAnswer {
  font-size: 19px;
  margin: 0px 0px 19px;
  padding: 20px 0px 0px;
}

.btn {
  background-color: #0a95ff;
  color: white;
  width: 127.75px;
  height: 37.78px;
  margin: 20px 0px 0px;
}

.date {
  color: #6a737c;
  margin: 0px 0px 16px;
}

.underline {
  border-bottom: 1px solid lightgrey;
}

.avatarInfo {
  display: block;
  margin: 20px 50px 30px 0px;
}

.deleteImgName {
  display: flex;
  justify-content: end;
  width: 100%;
}

.avatarDate {
  color: #6a737c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding-bottom: 10px;
}

.name {
  color: #0a95ff;
}

.reply {
  border-bottom: 1px solid hsl(210, 8%, 85%);
  display: flex;
  padding: 16px 0px;
}

.vote {
  display: block;
  padding-right: 16px;
}

.body {
  font-size: 15px;
  line-height: 22px;
}

.delete {
  background-color: white;
  color: #6a737c;
}

.voteCount {
  font-size: 21px;
  width: 36px;
  height: 27.45px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.voteBtn {
  font-size: 21px;
  width: 36px;
  height: 36px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.replyBody {
  display: block;
  justify-content: space-between;
}

.h3 {
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.h3 > :nth-child(1) {
  font-size: 19px;
}

.h3 > :nth-child(2) {
  font-size: 12px;
}
